.poster {
  height: 400px;
  width: 200px;
  background-color: #363636;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px; }

.gallery {
  display: flex; }

.poster__title {
  @import "rem" (3);
  color: #C20F29;
  text-transform: uppercase; }

.poster__subtitle {
  color: dimgray; }

.poster--light {
  background-color: aliceblue; }

/*# sourceMappingURL=style.css.map */
