html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

li{
list-style: none;
}

.logo {
    color: purple;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
}

nav {
    margin-top: 20px;
    margin-left: 20px;
}

nav li {
    padding-top: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#albums h2 {
    text-align: center;
    font-size: 35px;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

#albums img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

@media (min-width: 800px) {
    header {
        display: flex;
    }

    .logo {
        width: 30%;
    }

    nav {
        width: 70%;
        margin-right: 30px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    nav li {
        margin-left: auto;
        margin-right: auto;
    }

    #albums ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    header {
        display: flex;
    }

    .logo {
        width: 60%;
    }

    nav {
        width: 40%;
        margin-right: 30px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav li {
        margin-left: auto;
        margin-right: auto;
    }

    #albums ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}