.poster{
    height: 400px;
    width: 200px;
    background-color: $mine-shaft;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
}

.gallery{
    display: flex;
}

.poster__title{
    @import 'rem' (3);
    color: $shiraz;
    text-transform: uppercase;
}

.poster__subtitle{
    color: lighten($mine-shaft, 20%);
}

.poster--light{
    background-color: aliceblue;
}